/*Easysave custom css*/
/*Overwrite Uikit css*/
/*Author: Noma Dev*/

/*
----------------------------
Font Families
----------------------------
*/
@font-face{
 font-family:encode;
 src: url(../fonts/encode.ttf);
}



/*
----------------------------
Animation
----------------------------



/*
----------------------------
Body 
----------------------------
*/
html
{
 background: url(../images/01.png) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 font-family: encode!important;
}


/*
----------------------------
Buttons
----------------------------
*/
.login-pop{
 display: table-cell;
 vertical-align: middle;
 background-color:  #ff9933;
 font-size:4vw;
 font-weight: 500;
 color:white;
 text-transform: uppercase; 
 text-align: center;
 box-shadow: 0 -0.3px 4px rgba(0, 0, 0, .4);
}


.login-btn, .signup-btn,.signpanel-btn, .number-btn{
 vertical-align: middle;
 font-size:3.5vw;
 display:inline-block;
 line-height: normal;
 font-weight: 500;
 color:white!important;
 text-transform: uppercase; 
 text-align: center;
 padding: 3vw;
 margin-top:1vw;
 border: 1px solid;
 border-width: 0;
 outline: none;
 border-color: white;
 border-radius: 2vw;
 text-align:center;
 width: 20vw;
 box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
}

.signpanel-btn,.back, .code-back {
 color :#ff9933!important;
 background-color:white; 
}

.btn
{
 cursor: pointer;
 transition: background-color .3s;
}


.btn:focus {
 opacity: 0.85;
}
/*
----------------------------
Divs/ Panels
----------------------------
*/

.login-panel{
 background-color:  #ff9933;
 width:100%;
 height:67%;
 display: none;
 line-height: 55px;
 font-weight: 500;
 position: fixed;
 bottom: 0;
 color:white;
 text-transform: uppercase; 
 text-align: center;
}

.verification-form,.code-form{
display:none;
width: 100%;
}
.logo
{
 text-align: center;

}

.container {
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;

 padding-bottom: 15px;
}
@media (min-width: 768px) {
 .container {
  width: 750px;
 }
}
@media (min-width: 992px) {
 .container {
  width: 970px;
 }
}
@media (min-width: 1200px) {
 .container {
  width: 1170px;
 }
}
.signup-panel{
 background-color:  #ff9933;
 width:100%;
 height:90%;
 display: none;
 line-height: 40px;
 font-weight: 500;
 position: fixed;
 bottom: 0;
 color:white;
 text-transform: uppercase; 
 text-align: center;
}

.input-panel{
 margin-top: 4vw;
 display: block;
  font-size: 0;
 margin-bottom: 4vw;
}
.vertical-align-wrap {
 position: absolute;
 width:100%;
 position: fixed;
 bottom: 0;
 height:8%;
 width: 100%;
 display: table;
}

.panel-hide{
 font-size:4vw;
 font-weight: 500;
 padding-top: 1vw;
 padding-bottom: 2vw;
}

.btn-panel{
 margin: 2vw;
 display: block;
 text-align: center;
}

.signup-form
{
 display: none;
}

.user-type-panel{
 display: none;
 min-height:80vw;
 clear: both;
 width: 48vh;
 background-color: white;
 color: #ff9933;
 line-height: 20px;
 border:1px solid;
 border-width: 0;
 outline: none;
 border-color: white;
 border-radius: 2vw;
 box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.img-holder{

 display: inline-block;
 height: 25vw;
 width: 25vw;
 margin-top: 2vw;
 padding: 4vw;
 opacity: 0.8;
}
/*
----------------------------
Input
----------------------------
*/
input{
 margin-top:2vw; 
 width:80%;
 
 padding: 3vw;
 border: 1px solid;
 border-color:  #ff9933;
 border-radius: 2vw;
 font-family:encode;
 color:#ffbf80;
 box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

select{
 margin-top:2vw; 
 width:87%;
 font-size: 3.5vw;
 padding: 3vw;
 border: 1px solid;
 border-color:  #ff9933;
 border-radius: 2vw;
 font-family:encode;
 color:#ffbf80;
 box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

.verification_number
{
  padding: 3vw;
 width:50%!important;
 border-radius: 0;
  border:0.04px solid;
 border-bottom-right-radius: 2vw;
 border-top-right-radius: 2vw;
 

}
/*
----------------------------
P/Text
----------------------------
*/
p{
 display: inline-block;
}
.text
{
 display: block;
 text-transform: capitalize;
 font-size:3.5vw;
 margin-bottom: 0;
}

.subtext{
 color: grey;
 display: inline-block;
 text-transform: capitalize;
 padding: 2vw;
}
.s-text{
 margin-top: 4vw;
}

.module{
 display: inline;
 background: #ff9933;
 color: white;
 padding: 3vw;
 font-size: 3.5vw;
 width:10.5vw;
 box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
}

.icon{
 border-bottom-left-radius: 2vw;
 border-top-left-radius: 2vw;
 border:0.2px solid;
 border-color:#ff9933;
 border-left-color:  #ff9933;
}

.code{
 border:0.2px solid;
 border-color:#ff9933;
 border-right-color: #ff9933;
}
/*
----------------------------
Placeholders
----------------------------
*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
 color:  #ffbf80;
 font-size:3.5vw;
 opacity:  0.8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 font-size:3.5vw;
 color:   #ffbf80;
 opacity:  0.8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 font-size:3.5vw;
 color:    #ffbf80;
 opacity:  0.8;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 font-size:3.5vw;
 color:    #ffbf80;
 opacity:  0.8;
}
::-ms-input-placeholder { /* Microsoft Edge */
 font-size:3.5vw;
 color:    #ffbf80;
 opacity:  0.8;
}

